*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:#08101d;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

}

.loader{

text-align:center;

animation:fade 1s ease;

}

.logo{

width:145px;

height:145px;

border-radius:50%;

box-shadow:0 0 35px #2563EB;

animation:logo 2s infinite ease-in-out;

}

h1{

margin-top:30px;

font-size:40px;

color:white;

letter-spacing:2px;

animation:text 2s infinite;

}

@keyframes logo{

0%{

transform:scale(.9);

box-shadow:0 0 20px #2563EB;

}

50%{

transform:scale(1.08);

box-shadow:0 0 50px #3B82F6;

}

100%{

transform:scale(.9);

box-shadow:0 0 20px #2563EB;

}

}

@keyframes text{

0%{

opacity:.4;

}

50%{

opacity:1;

}

100%{

opacity:.4;

}

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
